body {
	font-family: JetBrains Mono;
	font-size: 1.5rem;
	background-color: lightblue;
	color: hsl(43, 74%, 19%);
}

h2 {
	color: orange;
	font-family: JetBrains Mono;
	font-size: 130px;
	padding: 0;
	margin: 30px;
}
.container {
	text-align: center;
	background-color: lightgoldenrodyellow;
	margin: 0 80px;
	padding: 10px 0 25px 0;
	border-radius: 15px;
	box-shadow: 2px 2px 7px 1px #aaa;
}

button:hover {
	transform: scale(1.08);
	transition: 0.3s;
}

button {
	transition: 0.5s;
}

#decrementar:active,
#incrementar:active,
#reset:active {
	background-color: darkgoldenrod;
	transform: scale(1);
}

#decrementar,
#incrementar,
#reset {
	border: 2px solid #aaa;
	border-radius: 15px;
	font-family: JetBrains Mono;
	font-size: 30px;
	padding: 10px;
	margin: 15px;
	color: mistyrose;
	box-shadow: 2px 2px 7px 1px #aaa;
}

#decrementar {
	background-color: hsl(120, 73%, 70%);
	width: 65px;
}
#incrementar {
	background-color: navy;
	width: 65px;
}
#reset {
	background-color: darkred;
}
